@mixin flexCenter {
    display:flex;
    justify-content: center;
    align-items: center;
}

// Mixin for min-width media query
@mixin mq($size){
    @media only screen and (min-width: $size){
        @content;
    }
}
// Mixin for min-height media query
@mixin mqh($size){
    @media only screen and (min-height: $size) {
        @content;
    }
}
// Mixin for max-width and min-height media query
@mixin mqMaxWMinh($size1,$size2){
    //ipad pro w:1024 & iphone plus 6/7/8 h:736
    @media only screen and (max-width:$size1) and (min-height:$size2){
        @content;
    }
}